#hoverdiv {
  width: 280px;
  padding: 15px;
  font-size: 15px;
  box-shadow: 0 30px 90px -20px rgba(0, 0, 0, 0.3);
  position: absolute;
  display: block;
  z-index: 1;
  margin-left: 50px;
  margin-bottom: 100vh;
  border-radius: 0.2rem;
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.2s;
  overflow: hidden;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

