@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500&family=PT+Serif&family=Rubik:wght@300;500&display=swap');

.inpvec {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 100%;
  border: 0.9px solid;
  font-family: 'PT Serif', serif;
  font-size: 16px;
  font-weight: 400;
  box-shadow: inset 0 -1px 0 rgba(#000, 0.3);
  transition: all 0.15s linear;
  outline: none;
}

.inptrn {
  -webkit-appearance: none;
  appearance: none;
  width: 2em;
  height: 1.5em;
  font-family: 'PT Serif', serif;
  /* border -bottom: 1px solid #808080; */
  font-size: 16px;
  font-weight: 400;
  box-shadow: inset 0 -1px 0 rgba(#000, 0.3);
  transition: all 0.15s linear;
  outline: none;
}

.inptrn:focus {
  border-bottom: 1px solid #808080;
  /* background-color: black; */
}

.inptrnname {
  -webkit-appearance: none;
  appearance: none;
  border-bottom: 1px solid #808080;
  width: 3.5em;
  height: 1.7em;
  font-family: 'PT Serif', serif;
  font-size: 13px;
  font-weight: 400;
  outline: none;
}

.submit {
  margin-top: 10px;
}

.btn {
  height: 100%;
}

.btn:hover {
  border: 1px solid #626262;
}

#inputcontainer {
  width: 100%;
  height: 25px;
  display: flex;
  /* justify-content: flex-end; */
  margin: 0 10px;
  /* padding-bottom: 10px; */
  border-top: 1px solid #939393;
}

#vectorlist {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 10px;
  width: 90%;
}
