#bottombar {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 9rem;
  border: 1px solid #494f52;
  box-shadow: 0 0 0.25em rgb(220, 220, 220);
  background-color: rgba(243, 244, 246);
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
  transition: height 300ms ease-in-out;
}

#maincontent {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  transition: height 300ms ease-in-out;
}

#virutalkeyboard {
  margin: 0 auto;
  width: 40rem;
  height: 0;
  transition: height 300ms ease-in-out;
}

#leftsection {
  width: 19%;
  height: 80%;
}

#middlesection {
  width: 60%;
  height: 80%;
}

#rightsection {
  width: 19%;
  height: 80%;
}

.settings {
  position: absolute;
  border-radius: 0.375rem;
  width: 16%;
  height: 8rem;
  margin-left: 2rem;
  margin-top: 0;
  background-color: rgb(249 250 251, 0.85);
  border: 1px solid rgb(229 231 235);
  border-radius: 0.375rem;
  transition: opacity 300ms ease-in-out;
}
