@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@100;200;300;500&display=swap");

/* mobile */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: black;
  min-height: 100vh;
  color: white;
}

.greetings {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  margin-bottom: 50px;
}

.greetingstext {
  margin-top: 10px;
  width: 90%;
  text-align: center;
  /* font-size: ;   */

}

.logo {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.logotext {
  margin-top: 0.5rem;
  font-family: "Prompt", sans-serif;
  font-weight: 300;
  font-size: 30px;
}

.pages {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.textborder {
  width: fit-content;
  padding: 10px;
  border: 1px solid white;
  border-radius: 0.5rem;
  margin-bottom: 20px;
}

.transformationpages {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.pagecard {
  display: flex;
  flex-direction: row;
  cursor: pointer;
  width: fit-content;
  padding: 10px;
  margin: 1px;
  border: 1px solid whitesmoke;
  border-radius: 0.5rem;
}

/* desktop */
@media only screen and (min-width: 768px) {
  .transformationpages {
    flex-direction: row;
  }
  .logotext {
    font-size: 50px;
  }
  .greetingstext {
    font-size: 18px;  
  }
}
